
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* to use it you do var(--what-you-want-hewre:) */
:root {
  --main-bg-color:#F8F9FA;
  --main-text-color: #333;
  --color-blue: #2196f3;
  --color-blue-grey: #2196f3;
  --color-deep-purple: #5e35b1;
  --color-deep-orange: #ef6c00;
  --text-color-white: #fff;
  --font-raleway-bold: "Raleway-Bold";
}

body {
  font-family: "Raleway";
  font-weight: 400;
}

/* Heder section */
.container-fluid {
  background: url(/img/cityBG.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0.4rem;
  color: var(--text-color-white);
  font-family: "Raleway-Black";
  font-weight: 900;
  font-size: 6rem;
}

.subtitle {
  margin: 0.4rem;
  font-weight: 200;
  font-size: 1.8rem;
  color: var(--text-color-white);
  font-weight: 700;
}

/* Cursor */
.text-type > .text {
  border-right: 0.2rem solid #777;
  color: var(--color-deep-orange);
}

.btn-custom {
  background-color: #04c2c9;
  border-bottom: 3px solid var(--color-deep-orange)
}

@media(min-width: 1200px) {
  .title {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  .title {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
/* End Of Header Section */

/* Navigation Bar */
.navbar-custom {
  border-bottom: 3px solid #04c2c9;
  background-color: #212121;
}

/* change the brand and text color */
.navbar-brand {
  font-family: var(--font-raleway-bold);
  font-size: 2rem;
  color: var(--text-color-white);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: var(--text-color-white);
}
/* Enad Of Navigation Bar */

/* Start About Me Section */
/* .container {
  color: var(--main-bg-color);
} */
#icon-container {
  height: 100%;
  margin: 50px auto;
  text-align: center;
}

.about-title {
  font-family: var(--font-raleway-bold);
  margin-top: 55px;
  font-size: 2.5rem;
  text-align: center;
}
#about-title-content p {
  color: var(--main-text-color);
  font-size: 1rem;
  text-align: center;
}

.icon {
  background: #04c2c9;
  border: 1rem solid #04c2c9 ;
  color: #ffffff;
}

/* icon headeer */
.icon-title {
  font-family: var(--font-raleway-bold);
  font-size: 2rem;
  margin: 0.5625rem;
  color: #1a1919;
}
.icon-info {
  /* margin-top: -5px; */
  font-size: 1.1rem;
} 

.img {
  width: 450px;
}

.who{
  color: #04c2c9;
  margin: 2rem 0 0.5625rem 0;
}

h3 {
  font-family: var(--font-raleway-bold);
  font-size: 1.625rem;
  margin: 0.5625 0 ;
}
/* End About Me Section */

/* Staret Of Contact Section */

/* End Of Contact Section */